<div class='footer'>
  <div class='footer-buttons'>
    <a target="_blank" class='btn host-btn' href='http://act.demandprogress.org/event/team-internet/create/?source=map'>
      Host a Protest
    </a>
    <a target="_blank" class='btn share-btn' :href="shareUrl">
      <span class='share-btn-content'>
        <span>Share the map</span>
        <img src='~images/fb-logo-white.png' />
      </span>
    </a>
  </div>
  <span class='privacy-policy'>
    <a target="_blank" href='https://battleforthenet.com/privacy/'>Privacy Policy</a>
     &copy; 2017 Team Internet
  </span>
  <div class='logos-wrapper'><img class='logos' src="~images/team-internet-logos.png" alt="logo" /></div>
</div>
